a.bg-primary.bg-p {
    color: #fff;
    padding: 5px;
    border-radius: 3px;
}

.mainNav {
    margin-bottom: 20px;
    background-color: #111;
    box-shadow: 0 0 4px #111;
}

.mainNav a{
    color: #fff;
}