a.bg-primary.bg-p {
    color: #fff;
    padding: 5px;
    border-radius: 3px;
}

.mainNav {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    background-color: #ddd;
    box-shadow: 0 0 4px #555;
}